aiofiles
aiohttp
beautifulsoup4
dnspython
ffmpeg-python
future==0.18.3
gitpython
hachoir
heroku3
motor==3.3.2
pillow==9.5.0
psutil
pymongo==4.6.3
python-dotenv
pyyaml==6.0.1
requests
qrcode
telethon==1.33.1
spotipy
telegraph
speedtest-cli
unidecode
urllib3
wget
youtube-search-python
googlesearch-python
search_engine_parser
bing_image_downloader
cloudscraper
py-yt-search
pyrogram==2.0.106
py-tgcalls==0.9.7
tgcrypto==1.2.5
yt-dlp
httpx>=0.28.1
git+https://github.com/AsmSafone/SafoneAPI
electrogram
flask
