API_ID=39035274
API_HASH=6a0b24e16c4bea2bbc975b7dbb0c1e64
BOT_TOKEN=8918437975:AAEkiQIXekKPJGOtrz-X0KsGnUqjIJn74Ac
LOGGER_ID=-1003930311833
MONGO_DB_URI=mongodb+srv://f7329984_db_user:bhaskarbaruah@cluster0.xjpwsjd.mongodb.net/?appName=Cluster0
OWNER_ID=8586111414
STRING_SESSION=BQH97UIAgpALG5Y50zV3gL0q2QtgVawsUysCNMv4pPutErAHdznxV7BWTMsxQBMjY9L_bPT2s4cUlpjLVtvT8sSqfFE3PjdRmG8JEo7qlgU--n1ytq6y1TI0a_AgX_dpNB4pv8DALSgl0lvFhkygoQMTdpmKjnH2trcsFrrxAFXg7xuOwtxQn3Dr_I57eos3e5xsRH_BFmbo6BhU3GaIu_cvC-K5WA4xj7lHrS7gNMZgKBvYHXsZ5GEqNgQc_vwobkkIMnKcwjQAlpUO0M3oZL1tn-2GLu3nAdG8JCqMBzzUt18qSZnigw2Jkcqtlbtj--rEFlehK-MmwPfWkfMMOCoCxsOhMwAAAAH_xam2AA
